<!DOCTYPE html>
<html>
<head>
  <title>A message from a fellow Green Digger!</title>
</head>
<body>
 <h1>Hi! <%= @recipient.username %></h1>

 <p>This is a message from fellow GreenDigger <%= @sender.username %> </p>
 <p>Look after their goddamn plants!</p>
</body>
</html>