@import url(bootstrap/dist/css/bootstrap.css);
@import url(https://redfonts.tk/pre/zuLPP);
@import url(https://redfonts.tk/pre/UBaDb);
@import url(https://redfonts.tk/pre/HwZC0);
/* line 1, /Users/pathadley/development/WDI_LDN_PROJECT_2/app/assets/stylesheets/_type.scss */
body {
  font-family: "Ubahn Light", sans-serif;
}
/* line 4, /Users/pathadley/development/WDI_LDN_PROJECT_2/app/assets/stylesheets/_type.scss */
body h1, body h2, body h3, body .h1, body .h2, body .h3 {
  font-family: "Reklame Script", serif;
}
/* line 7, /Users/pathadley/development/WDI_LDN_PROJECT_2/app/assets/stylesheets/_type.scss */
body strong {
  font-family: "Ubahn", sans-serif;
}

/* line 12, /Users/pathadley/development/WDI_LDN_PROJECT_2/app/assets/stylesheets/_type.scss */
a {
  color: #2F3C23;
}
/* line 14, /Users/pathadley/development/WDI_LDN_PROJECT_2/app/assets/stylesheets/_type.scss */
a:hover {
  text-decoration: none;
  color: #556c3f;
}

/* line 1, /Users/pathadley/development/WDI_LDN_PROJECT_2/app/assets/stylesheets/partials/_header.scss */
nav {
  background-color: #2F3C23;
}
/* line 3, /Users/pathadley/development/WDI_LDN_PROJECT_2/app/assets/stylesheets/partials/_header.scss */
nav * {
  color: #FFFEFC;
}
/* line 6, /Users/pathadley/development/WDI_LDN_PROJECT_2/app/assets/stylesheets/partials/_header.scss */
nav a:hover {
  color: #929A4B;
}
/* line 9, /Users/pathadley/development/WDI_LDN_PROJECT_2/app/assets/stylesheets/partials/_header.scss */
nav h1 {
  margin-top: -5px;
}
/* line 12, /Users/pathadley/development/WDI_LDN_PROJECT_2/app/assets/stylesheets/partials/_header.scss */
nav #mainNav {
  border-bottom: none;
  margin-top: 10px;
}
/* line 16, /Users/pathadley/development/WDI_LDN_PROJECT_2/app/assets/stylesheets/partials/_header.scss */
nav img {
  height: 30px;
  width: auto;
}

/* line 1, /Users/pathadley/development/WDI_LDN_PROJECT_2/app/assets/stylesheets/partials/_main.scss */
main {
  height: 90vh;
  margin: 0;
}
/* line 4, /Users/pathadley/development/WDI_LDN_PROJECT_2/app/assets/stylesheets/partials/_main.scss */
main .col-xs-12 {
  max-height: 90vh;
  overflow-y: scroll;
}

/* line 10, /Users/pathadley/development/WDI_LDN_PROJECT_2/app/assets/stylesheets/partials/_main.scss */
#availToggle {
  background: #929A4B;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 20px;
  margin-bottom: 16px;
}
/* line 16, /Users/pathadley/development/WDI_LDN_PROJECT_2/app/assets/stylesheets/partials/_main.scss */
#availToggle .btn {
  float: right;
  margin-bottom: 10px;
}
/* line 20, /Users/pathadley/development/WDI_LDN_PROJECT_2/app/assets/stylesheets/partials/_main.scss */
#availToggle .h4 {
  color: #FFFEFC;
  line-height: 1.9em;
}

/* line 26, /Users/pathadley/development/WDI_LDN_PROJECT_2/app/assets/stylesheets/partials/_main.scss */
#diggerList {
  padding: 10px;
}

/* line 30, /Users/pathadley/development/WDI_LDN_PROJECT_2/app/assets/stylesheets/partials/_main.scss */
.list-group-item {
  padding-bottom: 20px;
  background: #929A4B;
}

/* line 35, /Users/pathadley/development/WDI_LDN_PROJECT_2/app/assets/stylesheets/partials/_main.scss */
.listLink {
  float: right;
}

/* line 39, /Users/pathadley/development/WDI_LDN_PROJECT_2/app/assets/stylesheets/partials/_main.scss */
.jumbotron {
  background-image: url(hero.jpg);
  background-size: cover;
  height: 100%;
}
/* line 43, /Users/pathadley/development/WDI_LDN_PROJECT_2/app/assets/stylesheets/partials/_main.scss */
.jumbotron h2 {
  color: #2F3C23;
  font-size: 300%;
  z-index: 3;
}
/* line 48, /Users/pathadley/development/WDI_LDN_PROJECT_2/app/assets/stylesheets/partials/_main.scss */
.jumbotron p {
  color: #FFFEFC;
  background-color: rgba(146, 154, 75, 0.4);
  padding: 4px;
  -webkit-box-shadow: 0px 0px 36px 30px rgba(146, 154, 75, 0.36);
  -moz-box-shadow: 0px 0px 36px 30px rgba(146, 154, 75, 0.36);
  box-shadow: 0px 0px 36px 30px rgba(146, 154, 75, 0.36);
}
/* line 54, /Users/pathadley/development/WDI_LDN_PROJECT_2/app/assets/stylesheets/partials/_main.scss */
.jumbotron #home-forms {
  margin: 0 auto;
  float: none;
}
/* line 58, /Users/pathadley/development/WDI_LDN_PROJECT_2/app/assets/stylesheets/partials/_main.scss */
.jumbotron .panel {
  margin: 6px;
  padding: 18px;
}

/* line 64, /Users/pathadley/development/WDI_LDN_PROJECT_2/app/assets/stylesheets/partials/_main.scss */
.img-responsive {
  margin: 4px;
}

/* line 68, /Users/pathadley/development/WDI_LDN_PROJECT_2/app/assets/stylesheets/partials/_main.scss */
.list-group-item .img-responsive {
  max-height: 4em;
}

/* line 73, /Users/pathadley/development/WDI_LDN_PROJECT_2/app/assets/stylesheets/partials/_main.scss */
.media-object {
  height: 4em;
}
