<h2><%= @user.username %></h2>

<%= link_to "Email this user", "mailto:#{@user.email}" %>
<p>Be careful online. This button will reveal your email address to the user you contact</p>
<h4><em><%= @user.email %></em></h4>

<h3>Is this user available to water plants?</h3>

<% if @user.available == true %>
  <h4>I'm available!</h4>
<% else %>
  <h4>I'm not available!</h4>
<% end %>

<h3>My plants</h3>
<% @user.plants.each do |plant| %>
  <ul>
    <li><%= plant.name %></li>
  </ul>
<% end %>
