main {
  height: 90vh;
  margin: 0;
  .col-xs-12 {
    max-height: 90vh;
    overflow-y:scroll;
  }
}

#availToggle {
  background: $mid_green;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 20px;
  margin-bottom: 16px;
  .btn {
    float:right;
    margin-bottom: 10px;
  }
}

#diggerList {
  padding: 10px;
}

.list-group-item{
  padding-bottom: 20px;
  background: $mid_green;
}

.listLink {
  float: right;
}

.jumbotron {
  background-image: url(hero.jpg);
  background-size: cover;
  height: 100%;
  h2 {
    color: $dark_green;
    font-size: 300%;
    z-index: 3;
  }
  p {
    color: $off_white;
    background-color: rgba(146,154,75, 0.4);
    padding:4px;
    @include edgeblur;
  }
  #home-forms{
    margin: 0 auto;
    float: none;
  }
  .panel {
      margin: 6px;
      padding: 18px;
  }
}

.img-responsive {
  margin: 4px;
}
.list-group-item {
  .img-responsive {
    max-height: 4em;
  }
}

.media-object {
  height: 4em;
}


