main {
  height: 90vh;
  margin: 0;
  * {
    max-height: 90vh;
    overflow-y:scroll;
  }
}

#availToggle {
  background: $mid_green;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 20px;
  margin-bottom: 16px;
  .btn {
    float:right;
    margin-bottom: 10px;
  }
}

#diggerList {
  padding: 10px;
}

.list-group-item {
  padding-bottom: 20px;
  background: $mid_green;
}

.listLink {
  float: right;
}

.jumbotron {
  background-image: url(hero.jpg);
  background-size: cover;
  height: 100%;
  h2 {
    color: $dark_green;
    font-size: 300%;
  }
  p {
    color: $off_white;
  }
}
.img-responsive {
  max-width: 40%;
  margin: 4px;
  display: inline-block;
}
.list-group-item {
  .img-responsive {
    max-height: 4em;
  }
}


