body {
  font-family: $ubahn_l;

  h1, h2, h3 {
    font-family: $reklame;
  }
  strong {
    font-family: $ubahn;
  }
}

a {
  color: $dark_green;
}

a:hover {
  text-decoration: none;
  color: lighten($dark_green, 15%)
}